doctype html
html
  head
    title The Recipe Box
    link(href="https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800", rel="stylesheet")
    link(href='/static/css/framework.css' rel='stylesheet')
    link(href='/static/css/style.css' rel='stylesheet')

  body
    block content
    script(src='/static/js/script.js')
